analogclock/build/
analogclock/analogclock.pro.user
analogclock/*.o
analogclock/Makefile
analogclock/moc_rasterwindow.cpp
analogclock/qrc_resources.cpp
analogclock/moc_predefs.h
analogclock/.qmake.stash
